html,
body {
  margin: 0;
  padding: 0;
  font-family: "sans";
  background-color: #fafafa;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main {
  padding: 2em;
  max-width: 70%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
